#annotated {
    border-collapse:collapse;
    width: 100%;
    margin: auto;
}

#annotated h4 {
    margin:2px;
    padding:2px;
}

#annotated img {
    float:right;
}

#annotated ul {
    margin:3px 0 3px 5px;
    padding:10px;
}

#annotated th {
    background:#B3B3B3	repeat-x scroll center left;
    color:#000;
    padding:1px 2px;
    text-align:left;
}

#annotated td {
    background:#F7F7F7 none repeat-x scroll center left;
    color:#000;
    padding:1px 2px;
    text-align: left;
}

#annotated tr.odd td {
    background:#F0F0F0;
    repeat-x scroll center left;
    cursor:pointer;
}

#annotated div.arrow {
    background:transparent url(images/arrows.png) no-repeat scroll 0px -16px;
    width:16px;
    height:16px;
    display:block;
}

#annotated div.up {
    background-position:0px 0px;

}

#coming {
    border-collapse:collapse;
    width: 100%;
    margin: auto;
}

#coming h4 {
    margin:2px;
    padding:2px;
}

#coming img {
    float:right;
}


#coming ul {
    margin:3px 0 3px 5px; padding:10px;
}

#coming th {
    background:#B3B3B3	repeat-x scroll center left;
    color:#000;
    padding:1px 3px;
    text-align:left;
}

#coming td {
    background:#F7F7F7 none repeat-x scroll center left;
    color:#000;
    padding:1px 10px;
}

#coming tr.odd td {
    background:#F0F0F0	 repeat-x scroll center left;
    cursor:pointer;
}

#coming tr.even td {
    background:#F7F7F7	 repeat-x scroll center left;
    cursor:pointer;
}

#coming div.arrow {
    background:transparent url(images/arrows.png) no-repeat scroll 0px -16px;
    width:16px;
    height:16px;
    display:block;
}

#coming div.up {
    background-position:0px 0px;
}

.padtoright {
    padding-right: 0.75em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.flagspan {
    display: inline-block;
    text-align: left;
}

.flag {
    vertical-align: middle;
    horizontal-align: left;
    border: solid grey 1px;
    height: 1.1em;
    margin: 0 0em;
    text-align: left;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.checkspan {
    margin: auto;
    display: inline-block;
    width: 25%;
    padding-left: 2.2em;
}

.check {
    margin: auto;
    vertical-align: bottom;
    height: 1.1em;
}

.glassspan {
    margin: auto;
    display: inline-block;
    width: 15%;
    padding-left: 2.3em;
}

.glass {
    margin: auto;
    vertical-align: bottom;
    height: 1.1em;
}

.sourcespan {
    margin: auto;
    display: inline-block;
    width: 25%;
    padding-left: 2.2em;
}

.source {
    margin: auto;
    vertical-align: bottom;
    height: 1.1em;
}

.center {
    border: 0px solid grey;
    padding: 10px;
}

.center-table {
    margin: auto;
}

.close {
    text-align: right;
}

.mylist {
    float:left;
}

.detail {
    padding-right: 10px;
    float: left;
}

.detail-box {
    padding-left: 10px;
    float: left;
}